---
- name: systemctl restart service
  service:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    enabled: true
  register: _restart_service
  until: _restart_service.state == "started"
  retries: 3
  delay: 3
  become: true
  changed_when: false
  loop: "{{ os_systemd_service_name }}"
...
